 @import url('https://fonts.googleapis.com/css?family=Roboto');
*{
	box-sizing: border-box;
}
html{
	scroll-behavior: smoooth;
}
body{
    margin: 0;
    padding: 0;
    height: auto;
    width: 100%;
    font-family: 'Roboto', sans-serif;
}
 .navigation {
     height: 55px;
     background: linear-gradient(45deg, lightgray, ghostwhite);
     position: fixed;
     width: 100%;
     z-index: 999;
     top: 0;
}
 .brand {
     position: absolute;
     padding-left: 20px;
     float: left;
     line-height: 55px;
     text-transform: uppercase;
     font-size: 1.4em;
}
 .brand a, .brand a:visited {
     color: #333;
     text-decoration: none;
}
 .nav-container {
     max-width: 1000px;
     margin: 0 auto;
}
 nav {
     float: right;
}
 nav ul {
     list-style: none;
     margin: 0;
     padding: 0;
}
 nav ul li {
     float: left;
     position: relative;
}
 nav ul li a,nav ul li a:visited {
     display: block;
     padding: 0 20px;
     line-height: 55px;
     color: #fff;
     background: #262626 ;
     text-decoration: none;
}
 nav ul li a{
     background: transparent;
     color: #FFF;
}
 nav ul li a:hover, nav ul li a:visited:hover {
     background: gray;
     color: whitesmoke;
}
 .navbar-dropdown li a{
     background: #2581DC;
}
 nav ul li a:not(:only-child):after, nav ul li a:visited:not(:only-child):after {
     padding-left: 4px;
     content: ' \025BE';
}
 nav ul li ul li {
     min-width: 190px;
}
 nav ul li ul li a {
     padding: 15px;
     line-height: 20px;
}
 .navbar-dropdown {
     position: absolute;
     display: none;
     z-index: 1;
     background: #fff;
     box-shadow: 0 0 35px 0 rgba(0,0,0,0.25);
}
/* Mobile navigation */
 .nav-mobile {
     display: none;
     position: absolute;
     top: 0;
     right: 0;
     background: transparent;
     height: 55px;
     width: 70px;
}
.main-container{
	background: ;
	border: 5px solid yellow;
}
.img-carousel{
  height: 600px;
  object-fit: cover;
}

.middle-section-0, .middle-section-1, .middle-section-2{
	display: grid;
	grid-template-columns: 1fr 1fr;
	justify-content: center;
	align-items: center;
	justify-items: center;
	background: ghostwhite;
}
.middle-container-0{
	left: 110px;
	bottom: 35px;
	z-index: 99;
}
.middle-container-0, .middle-container-1, .middle-container-2{
	width: 50%;
	box-shadow: 0 -5px 5px -5px gainsboro, 0 5px 5px -5px gainsboro;
	position: relative
}
.middle-img-0, .middle-img-1, .middle-img-2{
	position: relative
}
.middle-img-0{
	height: 400px;
	width: 400px;
	right: 230px;
}

/* second middle content */
.middle-container-1{
	right: 325px;
	bottom: 160px;
	z-index: 1;
	
}
.middle-img-1{
	height: 450px;
	width: 340px;
	left: 0px ;
	bottom: 37px ;
	z-index: ;
}
.middle-text-title{
	letter-spacing: ;
	font-weight: bold;
}
/* third niddle content */

.middle-container-2{
	left: 170px ;
	bottom: 204px;
	z-index: 1;
	
}
.middle-img-2{
	height: 660px;
	width: 350px;
	right: 150px ;
	bottom: 388px ;
}

/* carousel end */

/* scroll to top */
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: lightgray;
  color: #333;
  cursor: pointer;
  padding: 12px;
  border-radius: 4px;
}

#myBtn:hover {
  background-color: gray;
  color: whitesmoke;
}
.footer-section{	
    display: flex;	
	justify-content: space-around;
	background: whitesmoke;
	box-shadow: 0 -5px 5px -5px gainsboro;

}
.ftr__list{
	display: flex;
	flex-direction: column;
}
.ftr__list, .footer-ul, .nav li a{
	color: #333;
	
	padding: 0;
	text-decoration: none;
	list-style-type: none;
}
.copyright-section{
	height: 140px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	background: #333;
	color: ghostwhite;
}
.currentYear{
	margin-right: 5px;
}
.socMed{
	display: flex;
	gap: 1.5rem;
}

/* 800px and less */
 @media only screen and (max-width: 798px) {
     .nav-mobile {
         display: block;
    }
     nav {
         width: 100%;
         padding: 55px 0 15px;
    }
     nav ul {
         display: none;
    }
     nav ul li {
         float: none;
    }
     nav ul li a {
         padding: 15px;
         line-height: 20px;
         background: #262626;
    }
     nav ul li ul li a {
         padding-left: 30px;
    }
     .navbar-dropdown {
         position: static;
}
.img-carousel{
	width: 100%;
	height: auto;
	
}
.middle-section-0, .middle-section-1, .middle-section-2{
	display: flex;
	flex-direction: column;
	margin: 2rem auto 0 auto;
	box-shadow: 0 5px 5px -5px gainsboro;
	width: 98%;
}
.middle-container-0, .middle-container-1, .middle-container-2{
	display: flex;
	flex-direction: column;
	position: static;
	top: 0;
	right: 0;
	bottom: 0;
	left:0;
	margin: 0 auto;
	width: 100%;
	box-shadow: none;
}
.middle-img-0, .middle-img-1, .middle-img-2{
	position: static;
	width: 100%;
	height: auto;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
}
 .middle-container-0, .middle-container-2{
	 order: 1;
 }
 
 /*  footer */
 /**nav-expand for footer with head and ul**/
.nav-folderized .nav h5 { 
cursor: pointer; 
}
.nav-folderized ul { 
max-height: 0; 
overflow:hidden; 
transition: max-height 0.3s ease-out; 
}


.nav-folderized .nav h5:after {
content: "+"; 
position: absolute;
right: 40px;
}

.nav-folderized .nav.open h5:after { 
content: "-"; 
}
.nav-folderized .nav.open ul { 
height: auto; 
max-height: 500px; 
transition: max-height 0.3s ease-in !important; 
}
/**nav-expand for footer with head and ul**/


.ftr__list{
	display: flex;
	flex-direction: column;
}
.footer-section{
	flex-direction: column;
	margin-top: 30px;
	box-shadow: 0 -3px 3px -3px gainsboro;
}
.footer-ul{
	border-bottom: 1px solid #333;
}
.copyright-section{
	display: block;
}
.socMed {
	width: 150px;
	margin: 0 auto;
	padding-top: 40px;
}
.currentYear{
	margin: 40px 0 0 25px;
}

 @media screen and (min-width: 798px) {
     .nav-list {
         display: block !important;
    }
}
 #navbar-toggle {
     position: absolute;
     left: 18px;
     top: 15px;
     cursor: pointer;
     padding: 10px 35px 16px 0px;
}
 #navbar-toggle span, #navbar-toggle span:before, #navbar-toggle span:after {
     cursor: pointer;
     border-radius: 1px;
     height: 3px;
     width: 30px;
     background: #ffffff;
     position: absolute;
     display: block;
     content: '';
     transition: all 300ms ease-in-out;
}
 #navbar-toggle span:before {
     top: -10px;
}
 #navbar-toggle span:after {
     bottom: -10px;
}
 #navbar-toggle.active span {
     background-color: transparent;
}
 #navbar-toggle.active span:before, #navbar-toggle.active span:after {
     top: 0;
}
 #navbar-toggle.active span:before {
     transform: rotate(45deg);
}
 #navbar-toggle.active span:after {
     transform: rotate(-45deg);
}
 
 
